body{
    text-align: center;
    font-size: 25px;
    color: royalblue;
    background-image: url(https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/109891566_624887144899371_516211182482252503_n.jpg?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=yA9VwyzjqL8AX8girM5&_nc_ht=scontent.fsgn5-3.fna&oh=eaf5562bf330598b2edd37090ecb1129&oe=5F38A6A7);
    background-size: cover;
}
