body{
    text-align: center;
    font-size: 25px;
    color: mediumvioletred;
    background-image: url(https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.15752-9/108321556_600929507524367_7067113120727904242_n.jpg?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=UNVeROIQ_GEAX-iEKff&_nc_ht=scontent.fsgn5-5.fna&oh=5d796302b838485c7840022e18bb405e&oe=5F367C22);
    background-size: cover;
}
